body {color: DarkSlateGray;
font-family: arial, helvetica, sans-serif;
font-size: 14pt;}



/* unvisited link */
a:link {
  color: DarkSlateGray;
}

/* visited link */
a:visited {
  color: DarkSlateGray;
}

/* mouse over link */
a:hover {
  color: cornflowerblue;
}

/* selected link */
a:active {
  color: DarkSlateGray;
}




body section section {
background-color: #C2C2EB;
} 

body section section {padding:1em}

body {background-color: #C2C2EB;}

section.resume
body section section {background-color: #C2C2EB;} 

body {background-color: #C2C2EB}

section.gallery body section section {background-color: #C2C2EB;} 
body {background-color: #C2C2EB}

section.posts body section section {background-color: #C2C2EB;} 



figure {width:30%; margin:auto; padding-top: 1vw; padding-bottom: 1vw}
figcaption {font-style: italic; font-size: smaller}

img.photo {max-width:500px;width:50%;
  display: block;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;}
  
img.photogal {max-width:500px;width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;}
  




.compare {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 3em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
} 



img.right {float: right;
max-width:500px;width:50%;
  display: block;
  margin-left: 80px}



p.solid {border-style: solid;}


div.newspaper
 {
  column-count: 2;
  column-gap: 5px;
  column-rule-style: solid;
  column-rule: 1px double;
  margin: 10px;
}

div.storyboard
 {
  column-count: 2;
  column-gap: 5px;
  column-rule-style: solid;
  column-rule: 1px double;
  margin: 5px;}


  
  /* Flex Container */

#menu
{display: flex;
flex-direction: row-reverse;}

.gamepic
{display: flex;
align-content: center;
flex-direction:row;
justify-content: center;
flex-wrap: wrap;
flex-basis: auto;}


 /* {box-sizing: border-box;
  width: 30%; /\* three boxes (use 25% for four, and 50% for two, etc) *\/
  padding: 45px; /\* if you want space between the images *\/
  display: flex;
  flex: 20%;}
  */
  
  
  
.gp
{max-width:350px;width:50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;}


.birdframe
{flex: 1;}

.birdmenu
{max-width:105px;
width:100%;}
  
div.menuA {text-align: center; font-size: 2vw;
  display: block;
  border: 30px solid transparent;
  border-image-source: url(aesthetic/boarder.png);
  border-image-repeat: repeat;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border-image-slice: 110;
  flex: 5;}
  
 
h1 {text-align: center;}
 
h2 {text-align: center;
margin-bottom: -22px;
margin-top: 60px;}

h3 {text-align: center;}


ul {
   margin-top: -10px;
   margin-bottom: -10px;
}

ol {
   margin-top: -10px;
   margin-bottom: -10px;
padding: 5em;  
}

.seg {
  background-color: lavender; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 15px 50px;

  width: 390px;
  padding: 3px;
  border: 3px;
  margin: auto;
}


/* .seg li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}*/
  
.para { 
  list-style-type: none;
  text-align: left;
  width: 750px;
  margin: auto;
  margin-bottom: -50px;
  padding: 35px;
  line-height: inherit;
}
  
 .parares { 
  list-style-type: none;
  text-align: left;
  width: 850px;
  margin: auto;
  padding: 35px;
}
    
.paratwo{ 
  list-style-type: none;
  text-align: left;
  width: 950px;
  margin: auto;
  padding: 35px;
}


/* POSTS */

.blockQuote {
  list-style-type: none;
  text-align: left;
  width: 700px;
  margin: auto;
  padding: 30px;
  line-height: inherit;
}

.blockQuoteImg {
  float: left;
  width: 33.33%;
  padding: 5px;
  width: 200px;
  height: 300px;
  object-fit: contain;
}

/*img {
  object-fit: contain;
  max-width: 300px;
  max-height: 500px;
 
}*/

.guessImg {
  object-fit: contain;
  max-width: 300px;
  max-height: 500px;
}

.capt {
    text-align: center;
    font-style: italic;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.singleImg {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.twoCenterFix {
  object-fit: contain;
  max-height: 650px;
  max-width: 100%;
  box-sizing: border-box;
  
  float: left;
  width: 50%;
  padding: 10px;
height: 1100px;
justify-content: center;
margin-bottom: 25px;
}

.twoCenter {
  object-fit: contain;
/*  max-width: 300px;
  max-height: 500px;*/
  max-width: 100%;
  box-sizing: border-box;
  
  float: left;
  width: 50%;
  padding: 40px;
height: 750px;
justify-content: center;
}

.twoCenterTXT {

  list-style-type: none;
  text-align: left;
  line-height: inherit;
    max-width: 100%;
  box-sizing: border-box;
  
   float: left;

  width: 50%;
  margin: auto;
  text-indent: 250px;
}

.twoCenterTXT2 {
display:block;
text-align: justify;
  list-style-type: none;
  text-align: center;
  line-height: inherit;
  box-sizing: border-box;
  
  float: left;

  width: 700px;
  margin: auto;
  text-indent: 200px;
}

/*display: flex;
align-content: center;
flex-direction:row;
justify-content: center;
flex-wrap: wrap;
flex-basis: auto;*/

.oneCenter {
  object-fit: contain;  
  max-width:350px;width:50%;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  
display: block;
align-content: center;
flex-direction:row;
justify-content: center;
}













  